data/* filter=lfs diff=lfs merge=lfs -text
data/processed/AOT_CDKPaDELMorgan2_filtered.csv filter=lfs diff=lfs merge=lfs -text
data/processed/XY_CoMPARA_CDKPaDELFP_filtered2.csv filter=lfs diff=lfs merge=lfs -text
